.youtube-button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: hwb(215 85% 7%);
    margin: 0;
    padding: 20px;
}
.cal-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.input{
    font-size: 15px;
    padding: 10px ;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    text-align: center;
    border-radius: 4px;
}
.subscribed-button{
    background-color: #969696;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}